[2016-11-01 19:06] viktor-c opened #1 "Using the install tutorial does not work"
Hi noam09!
Love your app, thank you so much for this super plugin!
I had one problem after

[2016-11-01 19:10] viktor-c opened #2 "following install tutorial in README does not work"
Hi noam09!
Love your app, thank you so much for this super plugin!
I had one problem after following your install tutorial : The Telegram plugin did not start, i could see that, because in the left side panel, Telegramer did not show up. Eventually pinned the problem to TelegramBotAPI. The problem was, it was installed with pip using my main account, but deluge runs on user deluge. So the plugin w

[2016-11-03 20:03] #1 closed, assigned to nobody

[2016-11-19 11:03] noam09 commented on #2
Hey @viktor-c, thank you for pointing this out.
If you run `pip show pyTelegramBotAPI`, what path shows up under _Location_? When you install packages using your main account, are they installed under a specific user's home directory?

[2016-11-19 20:41] viktor-c commented on #2
Running `pip show pyTelegramBotAPI` gives me a local directory. So I guess the packages get installed on my normal user, but deluge is configured to use a separate user without privileges.
Thanks for the great app!

[2016-11-19 20:43] viktor-c opened #3 "Add more Telegram ID's to control the TelegramBot"
Would it be possible to add in the deluge plugin a text area to input more Telegram ID's, which allow to control the Bot, respectively add torrents

Thank you!
Victor

[2016-11-19 20:47] noam09 commented on #3
Hey @viktor-c, that's a great idea and it's actually in my to-do list. :)
Should be available soon.

[2016-11-19 20:49] noam09 commented on #2
I updated the installation instructions to address this issue, I believe you can install packages globally (system-wide) by installing as root:
`sudo su`
`pip install pyTelegramBotAPI`
`exit`

[2016-11-19 21:18] viktor-c commented on #3
Can't wait! Thank you!

Am 19.11.2016 21:47 schrieb "Noam" notifications@github.com:

[2016-11-20 13:28] noam09 commented on #3
Latest commit adds this ability. Please give it a try and let me know how it works.

[2016-11-21 19:00] viktor-c commented on #3
Thank you! Works as intended.

[2016-11-21 22:08] #2 closed, assigned to nobody

[2016-11-21 22:08] #3 closed, assigned to nobody

[2017-06-07 03:58] vakulenchuk opened #5 "Not working in Windows 10/Web-Ui"
Installed the plugin, created the bot, configured proper ids and /started the bot. Not receiving any notifications here, test also seems to fail. Let me know if you need more info.

[2017-06-07 07:16] noam09 commented on #5
Hi @vakulenchuk, have you tried restarting Deluge after installing the plugin?

Also, can you please save a debug log in order to reveal more information on what is causing it to fail?

http://dev.deluge-torrent.org/wiki/Troubleshooting#WindowsSpecificLogging

[2017-06-07 08:15] vakulenchuk commented on #5
Yes, I have tried a restart.

Here is a debug log from deluged-debug.exe
[deluge.txt](https://github.com/noam09/deluge-telegramer/files/1057328/deluge.txt)

[2017-06-07 08:38] noam09 commented on #5
Perfect, thank you. I will make a few changes and create a new .egg for you to test. Would you mind emailing me so I can send you the attachment directly? My email is on my profile.

[2017-06-08 13:57] #5 closed, assigned to noam09

[2017-06-19 16:40] BlackLynxBY opened #6 "Win 7 x64 Py 2.7 /add crash"
Deluge crash if plugin "label" are disabled.
At Telegram we are see dialog:
/add
Select Directory
"ISO"
_At this point, the application crash. if the plugin 'label' disabled_
Select Label
"No Label"
...

[2017-06-19 17:06] noam09 commented on #6
Hey @BlackLynxBY, can you please post a debug log of the error? The plugin's debug logs start with "Telegramer", make sure to remove any information which may be sensitive.
Thank you!

[2017-06-19 17:40] BlackLynxBY commented on #6
[DEBUG   ] 20:35:18 gtkui:74 Telegramer: applying prefs for Telegramer
[DEBUG   ] 20:35:18 core:625 2017-06-19 20:35:18 # Telegramer: Set config
[DEBUG   ] 20:35:18 config:218 Setting 'listen_ports' to [6881, 6891] of <type 'list'>
[DEBUG   ] 20:35:18 config:218 Setting 'outgoing_ports' to [0, 0] of <type 'list'>
[DEBUG   ] 20:35:18 pluginmanager:104 run_on_show_prefs
[DEBUG   ] 20:35:18 core:110

[2017-06-21 16:03] noam09 commented on #6
I can't seem to find a crash in the log you posted... Do you mind posting another one when the crash happens? Does Deluge crash or just the plugin?
Also, do you have the Label plugin installed? Is it disabled?

[2017-06-21 20:11] BlackLynxBY commented on #6
Plugin installed and disabled.
https://drive.google.com/drive/folders/0By3cBieDM_-adW1BMVVhTFZNVE0?usp=sharing

[2017-06-21 20:21] BlackLynxBY commented on #6
https://drive.google.com/drive/folders/0By3cBieDM_-adW1BMVVhTFZNVE0?usp=sharing

[2017-06-21 20:38] noam09 commented on #6
Please try the latest version and post back with results/debug log:
https://github.com/noam09/deluge-telegramer/releases/download/v1.1.2/Telegramer-1.1.2-py2.7.egg

[2017-06-22 05:22] BlackLynxBY commented on #6
Deluge launched, plugin "Label" disabled.
Starting bot.
/ADD
Deluge enable and start plugin "Label".
But in next time, Deluge crash again. Photo and log in folder on GD.
I test it once more - no errors... I make next test in evening.

[2017-06-22 18:39] BlackLynxBY commented on #6
evening test
Logs and video uploaded to GD
Test 1 - fail
Test 2 - OK
Test 3 - OK
Before and after every test plugin disabled, deluge reloaded.

[2017-06-30 19:39] #6 closed, assigned to noam09

[2017-08-27 03:08] pifiuk opened #8 "Bot working but not replying"
Hello,

After running for a little while, the bot still works sending me notifications of torrents added, downloaded etc but I can no longer interact adding or listing torrents.

I have tried reloading.

[2017-08-27 06:26] noam09 commented on #8
Hi @pifiuk, thanks for posting the issue.
Does this happen after a set amount of time while the host is running, and if so, how long before it stops receiving commands?
Does it only occur following sleep/suspend/hibernation?

[2017-08-28 12:51] pifiuk commented on #8
I can't be sure, i'm running it on a server at home that runs 24/7 so there is no sleep/suspend or hibernation. Since I can't get it working again I don't know how to 'time' it.

[2017-08-28 13:33] noam09 commented on #8
If it runs 24/7 then it's unrelated to the suspend/hibernate "known issue". I will hopefully have time to look into it this week.
Are you running the latest commit or the last .egg from Releases?

[2017-08-28 13:39] pifiuk commented on #8
I'm running Deluge 1.3.14 (the latest .egg crashed Deluge 1.3.15) and yes i'm using the last .egg.

[2017-08-28 13:59] noam09 commented on #8
Can you try running the latest code? Building an .egg from source is rather straightforward, I mentioned it in the README.

[2017-09-05 08:57] akaishauri commented on #8
Hello,
Can confirm this issue in the latest code. Bot stops responding after 2 or 3 days. Not using sleep/suspend either.

[2017-09-11 08:01] noam09 commented on #8
Thanks for confirming, @akaishauri.
I haven't forgotten about this, I hope to find the time to fix it soon. It's likely something to do with tge way threads are handled. I probably need to borrow some of the code from the old version (which used a different Telegram API wrapper) where I had the bot running full-time, even with sleep/suspend.

[2017-09-16 12:17] noam09 commented on #8
@akaishauri and @pifiuk, please try out the latest commit and see if it has any affect on the issue.
I will upload a new .egg to the releases page ASAP, but you can also build the .egg from source. :)
**EDIT:** https://github.com/noam09/deluge-telegramer/releases/tag/v1.1.4

[2017-09-16 15:30] akaishauri commented on #8
@noam09 , I have installed v1.1.4, let's see what happens after a few days.

[2017-09-16 18:32] BlackLynxBY commented on #8
Win 7 x64, Deluge 1.3.15, Telegramer 1.1.4.
After updating from 1.1.2, the plugin is not activated.
Debug-log:
[DEBUG   ] 21:25:54 preferences:907 on_plugin_toggled
[ERROR   ] 21:25:54 __init__:56 Appending to sys.path: 'c:\users\black lynx\appdata\roaming\deluge\plugins\telegramer-1.1.4-py2.7.egg/telegramer/include'
[ERROR   ] 21:25:54 core:79 2017-09-16 21:25:54 # Telegramer: Import error - No m

[2017-09-16 18:49] noam09 commented on #8
@BlackLynxBY please try v1.1.5
https://github.com/noam09/deluge-telegramer/releases/tag/v1.1.5

[2017-09-16 19:08] BlackLynxBY commented on #8
[DEBUG   ] 22:03:35 preferences:907 on_plugin_toggled
[ERROR   ] 22:03:35 __init__:56 Appending to sys.path: 'c:\users\black lynx\appdata\roaming\deluge\plugins\telegramer-1.1.5-py2.7.egg/telegramer/include'
[ERROR   ] 22:03:35 pluginmanagerbase:146 Unable to instantiate plugin!
[ERROR   ] 22:03:35 pluginmanagerbase:147 name 'log' is not defined
Traceback (most recent call last):
  File "deluge\pl

[2017-09-16 19:16] noam09 commented on #8
Sorry about that @BlackLynxBY - please try:
https://github.com/noam09/deluge-telegramer/releases/tag/v1.1.6
I hope this one solves it...

[2017-09-16 19:37] BlackLynxBY commented on #8
Thanks 1.1.6, works!
Do not worry about us. You are the only one who writes for Windows users.
Thank you!

[2017-09-18 17:54] noam09 commented on #8
@akaishauri - how is it holding up so far?

[2017-09-18 20:48] akaishauri commented on #8
Looks like 1.1.6 still has this issue.

[2017-09-18 20:52] noam09 commented on #8
That's a shame... Can you tell if it stops only after several days of running, or even after a few hours? Can you try running Deluge in debugging mode so that maybe the logs point to the issue?

Edit: @pifiuk, are you seeing a change with the latest .egg?

[2017-11-16 04:08] wolverinevn opened #9 "Can't connect to Daemon after adding new torrent"
After adding a new torrent (magnet) via Telegramer, deluge-web can't connect to Daemon anymore. Connection manager showing Offline Daemon, can not start, connection lost. Torrents are still downloading, /list command worked.
System: Pi 3 running newest Jessie, Deluged ver 1.3.13, max connection: 200.

[2017-11-19 13:54] noam09 commented on #9
Hi @wolverinevn, sorry to hear Telegramer might be causing issues. When you say deluge-web can't connect, do you mean you can't connect via browser (WebUI)? Or the daemon itself fails to connect? When deluge-web fails to connect, does adding torrents via Telegramer still work?

Are there any debug logs you can provide to help better understand the issue? deluged logs, deluge-web logs?

[2017-11-19 20:48] dalailama100 opened #10 "Feature Request"
Hey noam,
I love this plugin. It works really well and is very stable.
Would it be possible to add a feature enabling notifications for users other than just the bot owner? Maybe giving the additional ID's this feature would be easy?
Many thanks.

[2017-11-21 08:56] noam09 commented on #10
Hey, glad you like the plugin! :)
This could definitely be implemented. I'll give it a go some time soon, just have to find the time.

[2017-11-26 22:18] noam09 commented on #10
Hey @dalailama100, please try out the [latest release](https://github.com/noam09/deluge-telegramer/releases) and let me know what you think. There may be some bugs, so just a heads up.

[2017-11-27 07:27] dalailama100 commented on #10
Hey noam09,
I installed the new release last night. Put in my friend's notify ID and it works like a charm.
Great work. If any bugs do happen to show, I will post.
Thank you for programming this feature in record time! Absolutely amazing!

[2017-11-27 07:37] noam09 commented on #10
My pleasure. Closing for now, reopen if bugs are found. :)

[2017-11-29 10:42] noam09 commented on #10
@dalailama100 I just released a [new .egg](https://github.com/noam09/deluge-telegramer/releases/tag/v1.1.7.1) that addresses a bug I found with message sending.

[2017-12-01 09:01] dalailama100 commented on #10
Hey noam09,
I noticed that when I try using the commands  /help, /down and /up commands, they don't seem to currently work under the new version Telegramer-1.1.7.1.
The /add command works fine.
Cheers!

[2017-12-01 10:00] noam09 commented on #10
I noticed that as well, working on a fix soon. Thanks for pointing it out.

[2017-12-01 11:17] noam09 commented on #10
Pushed a fix, will upload a new .egg later today.

[2017-12-02 09:15] noam09 commented on #10
[It's up](https://github.com/noam09/deluge-telegramer/releases/tag/v1.1.7.2). @dalailama100 care to try?

[2017-12-03 14:22] dalailama100 commented on #10
Hey noam09,
Just updated, all is good. The commands are functioning again.

[2017-12-03 15:06] #10 closed, assigned to noam09

[2017-12-03 15:06] noam09 commented on #8
Please reopen if issues persist. :)

[2017-12-03 15:06] #8 closed, assigned to noam09

[2017-12-03 15:07] noam09 commented on #9
Please reopen if issues persist. :)

[2017-12-03 15:07] #9 closed, assigned to noam09

[2018-01-19 17:24] OfryL opened #11 "Feature Request in list"
Hi, love your plug in! It's a great tool.
I hope you will add to show list and filter by label.

10x

[2018-02-13 15:02] qwertyhgfdsa opened #12 "Not working /list, /up & /down> commands"
Hi!
Nothing happens when I send one of this commands (/list, /up or /down) via telegram.
I use Debian Jessie, Python 2.7.9, Telegramer-1.1.7.2, deluged 1.3.15 and libtorrent 1.0.11.0

Here some extra info:
[code]

[2018-02-14 08:27] noam09 commented on #12
Hi @qwertyhgfdsa, thanks for the detailed logs.
It seems as though one or more of the torrents in the list contains unicode characters (I'm guessing Russian) and the various `list` commands lead to encoding/decoding issues with the output. I'll see if I can reproduce this on my end and try to push a fix for you to try out.

[2018-02-14 10:51] qwertyhgfdsa commented on #12
I have no torrents with Russian characters, but, maybe, they contains UTF-8

[2018-02-14 11:49] noam09 commented on #12
@qwertyhgfdsa please try the latest [release](https://github.com/noam09/deluge-telegramer/releases) and post any debug logs if the error persists.

[2018-02-14 20:53] qwertyhgfdsa commented on #12
OK, I tried it, but it is still not working.
There is one error when plugin starting:
[code]
And second error when I send "/list" to the bot:
[code]

[2018-02-14 21:05] qwertyhgfdsa commented on #12
I remove all torrents, and add only [this one](http://sdi-tool.org/SDI_Update.torrent). No Russian characters, only unicode, but error still here:
[code]

[2018-02-15 17:27] noam09 commented on #12
Please try the latest release ([v1.1.7.4](https://github.com/noam09/deluge-telegramer/releases)) and post debug logs.

[2018-02-16 16:59] qwertyhgfdsa commented on #12
A little bit better! =)
[code]

And may be this [debug.log](https://github.com/noam09/deluge-telegramer/files/1732094/debug.log) help you?

[2018-02-20 07:05] noam09 commented on #12
Other than the single torrent which causes the error, does the `/list` command return all other torrents? Or does it return nothing?
Currently I'm unable to reproduce the error on my system with the same torrent file. Could it be a system locale issue?

[2018-02-21 08:12] qwertyhgfdsa commented on #12
It's return nothing

2018-02-20 10:05 GMT+03:00 Noam <notifications@github.com>:

--

С наилучшими, Юрий К.

[2018-02-21 19:32] qwertyhgfdsa commented on #12
@noam09 > Currently I'm unable to reproduce the error on my system with the same torrent file. Could it be a system locale issue?

May be... UTF-8 is in my system as default
[code]

[2018-06-29 15:18] Generator opened #15 "[Feature Request] Exclude Label Notification"
### Description
In case of user already have some third party apps that also send Telegram messages (e.g. Radarr, Sonarr, SickRage, flexget). Add ability to disable selected labels.

### Expected Behavior
**Exclude Notification Label:**  TV, Movie ...
(Optional) **Exclude Notification Path:** /Downloads/TV, /Downloads/Movie

[2018-06-29 15:25] Generator opened #16 "[Feature Request] Custom Notification Message"
### Description
Ability to personalize the notification text (with HTML or Markdown).

### Expected Behavior
[HTML] **Custom Message:**
[code]

[Markdown] **Custom Message:**
[code]

[2018-12-09 00:44] markolonius opened #17 "resume torrent feature request"
Would it be possible to add resume torrent feature? Along with that maybe add paused? Awesome plugin-in!

[2019-03-30 06:30] kon-git opened #19 "[Feature Request] adding torrent without commands"
**Describe the solution you'd like**
Throw a new .torrent file to telegramer, and telegramer adds the torrent to deluge without asking further questions. (with no label, using default settings)

**Additional context**

[As of now]
1. Download a .torrent file with Safari(iOS).
2. Switch to telegram app, find Telegramer bot, and enter commands.
3. Switch back to Safari, and share(send) .torrent file

[2019-04-11 12:35] noam09 commented on #19
Hi @kon-git, the [latest alpha release](https://github.com/noam09/deluge-telegramer/releases/tag/v1.2.1-alpha) features this ability. Feel free to try it out and post back here if you encounter any issues.

[2019-04-11 12:47] noam09 commented on #12
Closing, re-open if it comes up again.

[2019-04-11 12:47] #12 closed, assigned to nobody

[2019-04-11 14:09] kon-git commented on #19
@noam09
Thanks for the update!

I tried the latest alpha release(1.2.1-alpha) yet wasn't able to install it.
The .egg file was uploaded to the server, but when I 'enable' telegramer and hit apply button, the 'enabled' checkbox turns off automatically.

I re-installed the stable version (1.2) and it works well.

[2019-04-11 14:48] noam09 commented on #19
That usually happens when there's an exception.
I've just uploaded an [`.egg` with debugging enabled](https://github.com/noam09/deluge-telegramer/releases/download/v1.2.1-alpha/Telegramer-1.2.1.1-alpha-debug-py2.7.egg).

Could you please try running Deluge with `deluged -L debug -l <logfile>` and posting the error/exception from the log file here? _Make sure to remove any sensitive info from the l

[2019-04-11 15:15] kon-git commented on #19
I'm sorry, actually I'm using docker (linuxserver/deluge) and I have no idea how to create detailed logfile from docker container.
I did a quick google search and tried `sudo docker logs -f deluge --details`, but couldn't find any line regarding telegramer(1.2.1.1).

[code]

[2019-04-11 15:22] noam09 commented on #19
I see, if you try running it the same way, but using the debug egg I mentioned - do you see more logs?

[2019-04-11 15:30] kon-git commented on #19
Actually I already used debug version(Telegramer-1.2.1.1-alpha-debug-py2.7) from above.
Tried again but nothing more...

[2019-04-18 17:40] noam09 commented on #19
I'll try running the same container and seeing what results I get, but it'll probably take me a while to get to. See if you can set the log level and/or view more detailed logs from within the container (`docker exec -it deluge /bin/bash`).

[2019-05-06 22:48] henkas opened #21 "[BUG] Cannot add plugin to deluge"
**Describe the bug**
I tried to add the plugin via the Web UI, it says install but then nothing happens.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Preferences/Plugins
2. Click on Install
3. Choose the egg file
4. The web UI display the installing dialog, it disappears and nothing happens.

**Screenshots**
[Install dialog](http://prntscr.com/nlal9s)
[Window after install dialog di

[2019-05-07 12:51] noam09 commented on #21
Hi @henkyfen, could you please attach a debug log from the time right before installing the plugin, up until right after the (failed) installation?

[2019-05-17 20:54] Nidwan commented on #21
I have the exact same problem here. I tried with a prebuilt .egg and with another built by myself.
Here's the error I got :

[code]

**OS and Version:**
OS: QTS 4.3.6 (Qnap)
Deluge version: 1.3.15-3

Thanks a lot

[2019-05-18 16:00] noam09 commented on #21
Thanks for attaching a log, @Nidwan.
It seems the `strftime` import got removed accidentally. Please try the latest alpha release [here](https://github.com/noam09/deluge-telegramer/releases/download/v1.2.1-alpha/Telegramer-1.2.1.2-alpha-py2.7.egg).

[2019-05-19 16:14] Nidwan commented on #21
Thanks for your help @noam09.
It seems I get the same error with the latest alpha:

`[ERROR   ] 18:11:03 __init__:58 Appending to sys.path: '/share/CACHEDEV1_DATA/.qpkg/Entware/lib/python2.7/site-packages/Telegramer-1.2.1-alpha-py2.7.egg/telegramer/include'
[ERROR   ] 18:11:03 pluginmanagerbase:146 Unable to instantiate plugin!
[ERROR   ] 18:11:03 pluginmanagerbase:147 global name 'strftime' is no

[2019-05-19 16:25] noam09 commented on #21
Please make sure the new egg is indeed in place, according to the log, Deluge is still using `1.2.1-alpha`, and not `1.2.1.2-alpha`. Try restarting Deluge.

[2019-05-19 16:38] Nidwan commented on #21
Sorry, I had forgotten to delete the previous egg in /share/CACHEDEV1_DATA/.qpkg/Entware/etc/deluge/plugins/.

I still get errors, but different ones :)

[code]

[2019-05-21 11:39] noam09 commented on #21
@Nidwan, please try the [latest alpha build](https://github.com/noam09/deluge-telegramer/releases/download/v1.2.1-alpha/Telegramer-1.2.1.4-alpha-debug-py2.7.egg). It fixes several bugs, hopefully the last of them.

[2019-05-26 08:23] noam09 commented on #21
@henkyfen, @Nidwan, any changes with the latest build?

[2019-06-01 08:49] Nidwan commented on #21
Hi @noam09, and thanks for the updates. Unfortunately I will noté be able to access my server for some days, maybe weeks. I’lll keep you informed as soon as I can test your last build.

[2019-06-16 01:25] wolverinevn commented on #21
Same issue. Can see Telegramer in Plugin list but can't enable it. Used to work properly in Deluge 2.0.0 & Telegramer 1.2

08:19:48 [ERROR   ][deluge                        :58  ] Appending to sys.path: '/config/plugins/Telegramer-1.2.1.4-alpha-debug-py2.7.egg/telegramer/include'
08:19:48 [ERROR   ][deluge.pluginmanagerbase      :154 ] Unable to instantiate plugin 'Telegramer' from '/config/plugin

[2019-06-16 12:08] noam09 commented on #21
Hey @wolverinevn, could you post a debug log when trying to add the plugin?
https://dev.deluge-torrent.org/wiki/Troubleshooting#EnableDelugeLogging

[2019-06-21 02:53] wolverinevn commented on #21
@noam09 Sorry for my late. The log:

09:51:30 [ERROR   ][deluge                        :58  ] Appending to sys.path: '/config/plugins/Telegramer-1.2.1.4-alpha-debug-py2.7.egg/telegramer/include'
09:51:30 [ERROR   ][deluge.pluginmanagerbase      :154 ] Unable to instantiate plugin 'Telegramer' from '/config/plugins/Telegramer-1.2.1.4-alpha-debug-py2.7.egg'!
09:51:30 [ERROR   ][deluge.pluginmanagerb

[2019-06-25 14:41] noam09 commented on #21
@wolverinevn I think there might still be something missing in the log, I can't really see any errors coming from Telegramer's code.
Is debug logging surely enabled (does `[DEBUG]` appear anywhere in the log)? Or maybe the error is a few lines before the part you posted?

[2019-07-01 18:57] dbutrimov opened #22 "[Feature Request] Deluge 2.0 support"
Deluge 2.0 released.

[2019-07-07 09:24] noam09 commented on #21
@wolverinevn or @henkyfen - could you give the [latest alpha](https://github.com/noam09/deluge-telegramer/releases/download/v1.2.1-alpha/Telegramer-1.2.1.5-alpha-debug-py2.7.egg) a try? Tested with `linuxserver/deluge:amd64-5b398f77-ls22` Docker image.

[2019-07-08 00:36] wolverinevn commented on #21
@noam09. Thanks but no luck. It might be an issue of webui itself?

[2019-07-09 04:18] noam09 commented on #21
It's possible, but I doubt it. Are you also using Deluge in a Docker container? `docker` or `docker-compose`? Which image?
In my case, to view the debug logs, I ran `docker-compose up -d`, and then `docker ps` to get the container ID, and finally `docker exec -it $IMAGE_ID bash -c 'tail -f config/deluged.log'`, and then I added the plugin via WebUI and viewed the log output.

[2019-07-13 15:00] noam09 commented on #21
Hold up... @wolverinevn are you using Deluge 2? Telegramer still doesn't support v2+.

[2019-07-15 13:32] noam09 commented on #22
Hey @dbutrimov, thanks for the heads-up. This will probably require some time and debugging to get working, so unfortunately it will probably be a while before I have the time to get working on it.

I'd also like to make sure the latest commits in the `develop` branch are stable before I even begin to look into v2 integration.

Needless to say, any Pull Requests for v2 integration are welcome. Jus

[2019-07-21 12:29] noam09 commented on #19
@kon-git have you had a chance to try the [latest build](https://github.com/noam09/deluge-telegramer/releases/download/v1.2.1-alpha/Telegramer-1.2.1.6-alpha-debug-py2.7.egg)?

[2019-07-21 13:10] kon-git commented on #19
@noam09 Hi, I've just tried the latest build 1.2.1.6 alpha-debug. It works!
Have no idea why it didn't work the last time I tried though... settings were pretty much same.

Thank you 😄

[2019-07-21 13:19] noam09 commented on #19
Well, I fixed a few issues in the code, so it probably wasn't something on your end. Just to clarify - does adding a torrent without commands work for you?

[2019-07-25 11:22] noam09 commented on #19
Re-open if needed

[2019-07-25 11:22] #19 closed, assigned to nobody

[2019-07-25 11:24] noam09 commented on #21
Latest alpha release fixes most issues on v1.3.15. Open a new issue if needed.

[2019-07-25 11:24] #21 closed, assigned to nobody

[2019-11-17 10:23] noam09 commented on #16
Hi @Generator - I know this is a bit old, but feel free to try out the [latest Alpha release](https://github.com/noam09/deluge-telegramer/releases/download/v1.2.1-alpha/Telegramer-1.2.1.7-alpha-py2.7.egg) which adds this feature.

[2019-11-17 23:24] Generator commented on #16
I'm using Deluge 2.x, no longer supports python2 plugins.

[2020-01-30 00:20] HydrelioxGitHub commented on #22
Any news on this ?

[2020-04-12 07:23] carcade opened #23 "[BUG] Bot does not handle .torrent files"
**Describe the bug**
Bot fails adding download, when sending .torrent file.

**To Reproduce**
1. Send .torrent file to bot

**Expected behavior**
Bot adds new download.

**Screenshots**
<img width="532" alt="Снимок экрана 2020-04-12 в 12 19 55" src="https://user-images.githubusercontent.com/16689838/79062957-f933c380-7cb7-11ea-91af-fd7e5aa709ba.png">

**OS and Version:**
 - OS: Linux Ubuntu server

[2020-04-12 08:20] noam09 commented on #23
Hi @carcade, does this also happen when using the latest alpha release? ([Telegramer-1.2.1.7-alpha](https://github.com/noam09/deluge-telegramer/releases/download/v1.2.1-alpha/Telegramer-1.2.1.7-alpha-py2.7.egg))

[2020-04-14 06:57] carcade commented on #23
Yes, I've used exactly this file from this release post - https://github.com/noam09/deluge-telegramer/releases/tag/v1.2.1-alpha

[2020-04-14 07:46] noam09 commented on #23
I tried downloading the .torrent file you linked using Telegramer, and it worked successfully. Nevertheless there is definitely a bug there if it's not working for you, we just need to understand what exactly.
Can you post a Deluge debug log from the point you `/add` and up until the download fails?

[2020-04-15 10:13] carcade commented on #23
Hmm.. today it just have stopped replying anything when I send .torrent files. But it correctly replies to commands. Deluge log shows nothing about this.
Maybe I have to enable some verbose log level?
P.S. I'm running deluge in docker container

[2020-04-15 10:20] carcade commented on #23
So, in addition to previous comment:
when I send .torrent file from desktop telegram client (macos) - bot replies "Aw man... That's not a torrent file",
when I send .torrent file from mobile telegram client (ios) - bot replies nothing.

In both cases there are no deluge logs appeared.

[2020-05-09 16:10] noam09 commented on #23
Hey, I somehow missed your replies. Please try posting a debug log as such:

So if you're running a Docker container, you may need to map a volume for the log file (`-v`), and pass the `-L debug` parameter when running.
In a `docker-compose.yml` file this would be something like (this may contain errors, but similar to this):
[code]

[2020-07-08 14:58] springjools commented on #22
I can have a look and see what I can achieve. I already updated another plugin for deluge 2.0.

(Note that if using python 3.8 or above, even deluge 2.0 isn't enough, you need the dev version of deluge.)

[2020-07-13 13:29] springjools commented on #22
Also note that instead of using deluge to send notifications, you can use sonarr/radarr/lidarr to do the same thing. It might be a better option since sonarr et al have a very active development team, more active than that of deluge, which itself needs more critical fixes to be made.

[2020-07-13 16:11] noam09 commented on #22
Thanks for offering! If you have the time to make the transition to Deluge 2, that would be awesome. :+1:
I'll create a ["py3" branch](https://github.com/noam09/deluge-telegramer/tree/python3) that you can fork to keep it organized.

[2020-07-13 16:15] noam09 commented on #23
Re-open if needed.

[2020-07-13 16:15] #23 closed, assigned to nobody

[2020-07-13 16:16] #16 closed, assigned to nobody

[2020-10-24 16:14] daomengRen opened #24 "[Feature Request] Label Notification"
It's a great tool.
Hope that i can choose a specific label to notify, not all torrents are notified.
thank you

[2020-10-25 05:39] noam09 commented on #24
Hi @daomengRen, just to make sure I understand: you'd like to choose specific labels that are "important" to you, and receive notifications only for torrents with those specific labels?

[2020-10-25 09:00] daomengRen commented on #24
yes，
btw, I want to know the information content of the notification. Besides supporting the torrent name, does it also support the tracker corresponding to the torrent?

[2020-11-02 08:59] baderjasim opened #25 "[Feature Request] Ratio status"
'Ratio' status is missing in torrents info when do /list

Example: https://i.imgur.com/662ngdb.png

[2020-11-26 08:32] chrismast commented on #22
Hi, is there any progress on a v2.0 plugin yet?

[2020-11-28 19:44] springjools commented on #22
Hey. Sorry, I cannot commit to more projects now, just started a new job and all my time goes to it and existing projects. Hope someone else is keen on it though :)

[2020-11-28 19:45] springjools commented on #22
I'm also using sonarr and radarr and they come with telegram support.

[2020-11-28 23:55] chrismast commented on #22
@springjools no worries. Also using both with telegram which works fine. Thanks for your reply though.

[2021-01-09 13:41] bggergo29 opened #26 "[BUG] not sending notifications about added and finished torrents"
**Describe the bug**
If I upload the torrent file with the Telegram bot, I do not get the "Upload finished" and "Torrent finished" messages. Everything works well, except this feature. I've checked the checkboxes at the Notifications.

**To Reproduce**
Add a torrent using telegramer
**Screenshots**
![image](https://user-images.githubusercontent.com/34211420/104092862-043b7480-5287-11eb-9337-d0a05e

[2021-03-14 10:02] noam09 commented on #26
Hey @bggergo29, thanks for reporting this issue.

1. If you add a torrent from the Deluge UI, are notifications sent from the bot?
1. Notifications are not sent *only* if the torrent was added through the bot itself?
1. Does the same happen with Magnet links? Does this happen using [this torrent (21MB)](https://distrowatch.com/dwres/torrents/TinyCore-current.iso.torrent)?
1. Did you set a custom n

[2021-06-16 17:32] igorfrag opened #27 "[BUG] Plugin not working"
**Describe the bug**
After installing the plugin ( both stable and alpha release tried), the plugin shows in the deluge interface but does not work at all.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the egg plugin via deluge interface.
2. Restart deluge after install, and fill all settings (API key, user id)
3. Nothing happens
4. See errors on logs.

**Expected behavior**
Receiv

[2021-06-16 17:42] noam09 commented on #27
Hey @igorfrag, thanks for reporting this. It looks like we had something similar in #8 but maybe not exactly the same.
I'll take a look at updating the `certifi` module in "includes", maybe that will help. I'll update here once I get a chance.

[2021-06-16 17:44] igorfrag commented on #27
Thanks for the quick answer noam09, feel free to ask any info you might need.

[2021-06-18 16:19] noam09 commented on #27
Hey @igorfrag please try this build: https://github.com/noam09/deluge-telegramer/releases/download/v1.2.1-alpha/Telegramer-1.2.1.7_bugfix27_2-py2.7.egg
It contains the `certifi` package added to the `include` directory, maybe that will help with the issue. Please install the new `.egg` and restart Deluge afterwards before trying the plugin again. If it still fails or you encounter any other errors

[2021-06-19 06:44] igorfrag commented on #27
Okay, so i removed the old version, installed the bugfix version, restarted deluge and then clicked test button. Still didn't work but different erros i guess.

[ERROR   ] 03:42:06 __init__:58 Appending to sys.path: 'c:\users\user\appdata\roaming\deluge\plugins\telegramer-1.2.1.7_bugfix27_2-py2.7.egg/telegramer/include'
[ERROR   ] 03:42:07 __init__:58 Appending to sys.path: 'c:\users\user\appdata\

[2021-06-19 07:59] noam09 commented on #27
Can you please make sure that you have debug logging enabled (`-L debug`), and then run the plugin again?
https://dev.deluge-torrent.org/wiki/Troubleshooting#WindowsSpecificLogging

[2021-06-20 04:27] igorfrag commented on #27
Here it is: [Logs](https://github.com/noam09/deluge-telegramer/files/6681735/deluge.log)

[2021-06-20 04:41] noam09 commented on #27
Thank you, I'll have a look at the logs.
I think it would be best if you delete the last comment, and also generate a new token for your bot (https://t.me/Botfather), and send me any future files via email, since it looks like it may include some sensitive info (such as the bot token). You can find my email on my profile page. Thanks!

[2021-06-20 05:31] noam09 commented on #27
@igorfrag please try this version in debug mode:
https://github.com/noam09/deluge-telegramer/releases/download/v1.2.1-alpha/Telegramer-1.2_bugfix27_3-py2.7.egg
Please email the debug log to `noamgit {at] gmail.com`
The last version I asked you to try was the latest commit with the addition of `certifi`. Since that did not seem to work properly, I'd like to now try the latest stable commit (v1.2) w

[2021-06-21 19:51] igorfrag commented on #27
Still not working, sent the logs via email.

[2021-06-21 20:12] noam09 commented on #27
According to the logs it seems like the egg file loaded is `c:\users\user\appdata\roaming\deluge\plugins\telegramer-1.2.1.7_bugfix27_2-py2.7.egg`. It's possible Deluge isn't using the version from my last comment since the version number is "not newer". Before installing the last version, please try deleting or moving all versions of Telegramer from the plugins directory. Then restart Deluge, inst

[2021-06-21 20:15] igorfrag commented on #27
Funny because i did exactly that and deluge even showed the correct version, i'll try again in some minutes.

![image](https://user-images.githubusercontent.com/58562585/122822217-2a445680-d2b4-11eb-82d2-647bf3449bf4.png)

Edit: Sent the logs on your email.

[2021-07-05 20:09] igorfrag commented on #27
Issue solved on version 1.2-bugfix27-6, Thank you noah for helping me out via email, i'll close the issue.

[2021-07-05 20:09] #27 closed, assigned to nobody

[2021-08-08 16:33] bggergo29 commented on #26
Thanks for the support, it works now, it was my mistake. I'm really sorry for wasting your time with this false issue.
Gergő

[2021-08-08 16:33] #26 closed, assigned to nobody

[2021-08-08 16:50] noam09 commented on #26
All good, no worries. 👍

[2021-08-14 18:24] ghost opened #28 "[BUG] /cancel command doesn't work"
It just shows that the operation has been canceled but doesn't really do so.

[2021-08-14 18:40] ghost opened #29 "[Feature Request] Resume/Pause options"
Command lines for Resume/Pause should be added. It's almost a necessity. A particular torrent can be Resumed/Paused by replying to the Torrent added message or something like that. The same could be done with all active/inactive torrents. I kindy implore you add this feature.

[2021-08-18 11:12] noam09 commented on #28
Hi @Zsasz1713, when you say that you cancel but it "doesn't really do so", what exactly do you mean? What remains in progress although it should have been cancelled? Just to clairfy, the purpose of `/cancel` is to abort the addition of a new torrent while in the process of selecting options (category, path, label, etc.).

[2021-08-18 11:13] noam09 commented on #29
Thanks for the suggestion @Zsasz1713, hopefully I'll have some free time to add this at some point. Feel free to submit a PR if you feel you could contribute in this matter. :)

[2021-08-18 11:13] noam09 commented on #29
Thanks for the suggestion @Zsasz1713, hopefully I'll have some free time to add this at some point. Feel free to submit a PR if you feel you could contribute in this matter. :)

[2021-08-18 12:24] #28 closed, assigned to nobody

[2021-08-18 12:28] ghost commented on #28
@noam09 It seems like I misunderstood the function. I thought /cancels cancels the download. Sorry for the inconvenience.
I request you please add pause/resume commands.

[2022-03-05 22:52] OfryL commented on #22
@noam09 maybe we can raise some money for this

[2022-03-21 11:18] noam09 commented on #22
I appreciate the offer, but there is no need. :)

I've started working on this, I hope to have a release for testing soon. I'll update this issue once it's up. Sorry it took this long, I realize it's been a very long time since this was requested.

[2022-03-24 08:26] noam09 commented on #22
Beta version released: https://github.com/noam09/deluge-telegramer/releases/tag/v2.0.5.0
I haven't had a chance to thoroughly test it yet. Please try it out and [create an issue](https://github.com/noam09/deluge-telegramer/issues/new?assignees=&labels=bug&template=bug_report.md&title=%5BBUG%5D+) for any bugs you find. Thanks!

[2022-04-05 19:26] xzxzard opened #32 "[BUG] cant activate plugin on deluged 2.0.5"
**Describe the bug**
After install plugin egg it cant be activated in plugins menu

Message in log
[code]

deluged 2.0.5
libtorrent: 1.1.13.0
Python: 3.8.10
OS: Linux Ubuntu 20.04 focal

[2022-04-11 11:15] noam09 commented on #32
Hi @xzxzard, thanks for reporting this. Looking into it, I'll update this thread.

[2022-04-13 05:52] noam09 commented on #32
@xzxzard please try this `.egg` built with Python 3.8, see if it makes a difference:
https://github.com/noam09/deluge-telegramer/releases/download/v2.0.5.0/Telegramer-2.0.5.0-py3.8.egg

BTW it looks like your Deluge is trying to load `Telegramer-1.2.1.7-py3.8.egg`. Maybe try disabling it, or deleting the `.egg` file from `.config/deluge/plugins`.

[2022-04-18 06:59] xzxzard commented on #32
Ty, now its works.

[2022-04-18 06:59] #32 closed, assigned to nobody

[2022-05-06 09:26] mohitjoshi155 opened #33 "[BUG] up down commands not working"
09:22:51 [WARNING ][deluge.plugin.telegramer.core      :362 ] Update "{'message': {'new_chat_photo': [], 'photo': [], 'entities': [{'type': 'bot_command', 'length': 3, 'offset': 0}], 'text': '/up', 'message_id': 96, 'group_chat_created': False, 'supergroup_chat_created': False, 'caption_entities': [], 'new_chat_members': [], 'delete_chat_photo': False, 'date': 1651828971, 'channel_chat_created': F

[2022-05-29 15:47] ToshipSo opened #34 "[BUG] Categories/Directories aren't working"
**Categories and Directories aren't getting saved in preferences.**
I'm specifying Categories and directories and they are not getting saved properly. When I restart the deluged server I see the fields empty. Apart from that when using the telegram bot when using /add command when I specify the category it doesn't download torrent in the specified directory instead it downloads it in the default d

[2022-06-16 13:44] itdtamas opened #35 "[BUG] telegramer.conf missing"
**Describe the bug**
 Unable to open config file /volume1/@appstore/deluge/var/telegramer.conf: [Errno 2] No such file or directory: '/volume1/@appstore/deluge/var/telegramer.conf'

**To Reproduce**
Steps to reproduce the behavior:
1. Go to install egg
2. Click on Telegramer
3. Scroll down to not see in the left side
4. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/

[2022-06-26 05:49] tallevi1000 commented on #33
same issue here.
running deluge on a docker with the python 3.10 egg version.
can you kindly share ETA on this?

[2022-06-26 05:59] noam09 commented on #35
Hey @itdtamas
Looking at the logs, it seems like you're trying to load `Telegramer-1.3.1-py2.7.egg`, yet you are using Deluge 2.0.3.
Please try using this version of the plugin: https://github.com/noam09/deluge-telegramer/releases/tag/v2.0.5.0
It was built for Deluge 2.0.5 but maybe it will also work with 2.0.3.

[2022-06-26 06:05] noam09 commented on #34
Hey @ToshipSo, thanks for reporting this.

First of all, I should clarify that the Categories feature uses Deluge's "Move on Completion" feature to set the download directory. So the download itself is saved to the default directory, and only after it has finished downloading will it move the files to the directory specified in "Category".

Do you have a directory path set in only one of the categ

[2022-06-26 06:09] noam09 commented on #33
Hey @mohitjoshi155 and @tallevi1000
Thanks for reporting this, I am able to reproduce the issue. Looking into it.

[2022-06-26 06:20] tallevi1000 opened #36 "[BUG] cancel command not always working"
running deluge 2.0.5 on a docker with the python 3.10 egg version of the plugin.
the command /cancel is not working for /add or /addpaused

Steps to reproduce the behavior:
1. type /add or /addpaused
2. wizard starts
3. type /cancel
4. wizard continues...
5. after typing /cancel 4-5 times you get the "operation cancelled"

**Expected behavior**
"operation cancelled" after the first /cancel command

[2022-06-26 08:41] tallevi1000 commented on #33
thanks for the quick reply.
btw, the /list, /up, /down, /paused commands work fine when the deluge client is empty.
its only when there is at least 1 torrent (doesnt matter in which state), commands dont work.

[2022-06-28 07:05] itdtamas commented on #35
Hi @noam09
It's working! Many thanks!

[2022-08-19 15:38] tallevi1000 commented on #33
Hi @noam09  can you please share status on this? Maybe we can help? 😊

[2022-08-30 16:15] dkgitdev opened #37 "pkg_resources.DistributionNotFound: The 'Telegramer' distribution was not found and is required by the application"
Hello. I've installed [latest beta](https://github.com/noam09/deluge-telegramer/releases/download/v2.0.5.0/Telegramer-2.0.5.0-py3.8.egg)

This is what I get after trying to tick the plugin. The plugin checkbox remains empty and the plugin is inactive.

[code]

Here's my about page^
![deluge about](https://user-images.githubusercontent.com/36101416/187488031-a6a9f7b8-26c5-404c-acbe-5a7f74a55269.png

[2022-10-13 15:17] Ob1w4 commented on #22
Hey,

I am currently using the plugin with Deluge 1.3.5 and it works great. But I am tempted to upgrade to Deluge 2.x and have two questions:

1) The version I can install is Deluge 2.0.3. I see that deluge-telegramer has a beta version with Deluge 2.0.5 support. Can you still use this version with Deluge 2.0.3 or is it only for 2.0.5?

2) I see that it requires Python 3.8 or 3.10. Currently, I ha